/* 1A1A1A > 2E2E2E > 444444 */

* {
    user-select: none;
    cursor: auto;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #444444;
    color: white;
}

/* Preweb */

.preweb {
    margin: 20px auto 0;
    text-align: center;
}

.preweb * {
    margin-top: 20px;
}

.preweb .enter {
    background-image: url(res/jiggy.gif);
    background-size: contain;

    font-size: 32px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

    border: 2px solid black;
    border-radius: 6px;
    outline: none;

    width: 700px;
    height: 100px;
}

.preweb .submit {
    background-color: black;

    padding: 6 12;
    margin-left: 20px;

    font-size: 32px;
    font-weight: bold;
    color: white;

    border: 2px solid black;
    border-radius: 6px;
    outline: none;
}

/*
.preweb .msg {
    font-size: 18px;

    padding: 3 6;
    margin-left: 20px;

    width: 200px;
    height: 40px;
}
*/

/* Web */
.web {
    display: none;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.proof,
.wisewords {
    margin-bottom: 450px;
}

.petting {
    margin-bottom: 4500px;
}

.x {
    color: rgba(255, 255, 255, 0);
    transition: ease-in 0.2s;
}

.x:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: ease-out 0.2s;
}

#a {
    text-align: right;
}